[submodule "vendor/cmocka"]
	path = vendor/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
	branch = master
[submodule "src/plugins/u2f-client/randombytes"]
	path = src/plugins/u2f-client/randombytes
	url = git@github.com:dsprenkels/randombytes.git
[submodule "src/plugins/u2f-client/b64"]
	path = src/plugins/u2f-client/b64
	url = https://github.com/littlstar/b64.c.git
